# MongoDB Database Configuration
MONGODB_URI="Enter your connection string"
MONGODB_DB="Enter your Database"
MONGODB_COLLECTION="Enter your collection"

# GIS Portal Credentials
VITE_APP_USERNAME="Enter username"
VITE_APP_PASSWORD="Enter password"
